/* General Container for Pantry List */
.containerPantryList {
    padding: 20px;
    background-color: #faf0e6; /* Beige background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Pantry List Container */
.pantry-list-container {
    width: 80vw;
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 400px; /* Set a maximum height for scrolling */
    overflow-y: auto; /* Add vertical scroll */
    position: relative;
    margin-top: 1rem;
}
/* Head Name */
#PantryHeader {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    overflow: hidden; /* Ensures that only the visible portion of the text is shown */
    display: inline-block;
  }
  
  #PantryHeader span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s forwards;
  }

  #PantryHeader .word {
    display: inline-block;
    margin-right: 0.5rem; /* Adjust the margin between words */
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* Header of the Pantry List */
.list-header {
    display: flex;
    justify-content: baseline;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Header Items and Quantity */
.header-item, .header-quantity {
    width: 33vw; /* Adjust width for better alignment */
 
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Pantry List Item Styling */
.pantry-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;

}

/* Item Name and Quantity */
.item-name, .item-quantity {
    width: 100%; /* Match header width */
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Remove Button */
.remove-button {
    color: #e74c3c;
    background-color: inherit;
    border: none;
    padding: .4rem .8rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.remove-button:hover {
    color: #c0392b;
}

/* Add Item Button */

.add-item-button {
    background-color: #2C3E50;
    color: white;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    z-index: 0;
    width: fit-content;
  }
  
  /* Text and Icon Styles */
  .button-text,
  .button-icon {
    position: relative;
    transition: opacity 0.3s ease, transform 0.3s ease;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  
  /* Initial State */
  .button-text {
    opacity: 1;
    z-index: 1; /* Ensure text is above the icon */
  }
  
  .button-icon {
    opacity: 0;
    font-size: 1.2rem;
    transform: scale(1.2);
  }
  
  /* Hover State */
  .add-item-button:hover .button-text {
    opacity: 0;
    transform: scale(0.8);
  }
  
  .add-item-button:hover .button-icon {
    opacity: 1;
    transform: scale(1);
  }
  
  /* Ensure button text and icon are centered */
  


/* Modal Background */
.modalpantry {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content-pantry {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#openCameraButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #068196; /* Custom color for the icon */
    font-size: 1.5rem; /* Adjust size as needed */
  }
  
  #openCameraButton:hover {
    color: #089ab4; /* Darker color on hover */
  }
  
/* Input and Select Styling in Modal */
.modal-content-pantry input,
.modal-content-pantry select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Add Unit Button */

#addUnitButton {
    background-color: #3d5770;
    color: white;
    border: none;
    /* padding: 0.5rem; */
    border-radius: 4px;
    cursor: pointer;
    width: 10rem;
    height: 2rem;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: .8rem;
}

#addUnitButton:hover {
    background-color: #486785;
    transform: scale(1.05);
}

/* Add Item Button */
#addItemButton {
    background-color: #3d5770;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#addItemButton:hover {
    background-color: #486785;
    transform: scale(1.05);
}

/* Close Button */
#closeItemButton {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#closeItemButton:hover {
    background-color: rgb(139, 0, 0);
    transform: scale(1.05);
}

/* Unit Selection Container in Modal */
.unit-selection-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Modal Header */
#modalHeader {
    margin-bottom: 1rem;
    font-size: 1.5rem; 
    color: rgb(52, 66, 95);
}

#unit-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
#new-item-quantity-input{
    text-align: center;
}

#new-item-unit-select{
    text-align: center;
}

/* Filter Button Styles */
.filter-buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    gap: 1rem; /* Reduced gap for better spacing */
    margin-bottom: 2rem;
    flex-wrap: nowrap
}

/* General Filter Button Styling */
.filter-button {
    background-color: #3d5770;
    color: white;
    border: none;
    padding: 0.5rem 1rem; /* Adjusted padding for better button size */
    border-radius: 6px; /* Slightly larger border radius for a softer look */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1rem; /* Adjusted font size for better readability */
    font-weight: bold; /* Bold text for better emphasis */
}


/* Hover Effect for Filter Buttons */
.filter-button:hover {
    background-color: #486785;
    transform: scale(1.05);
}

/* Expired Button Styling */
.filter-button-expired-button {
    background-color: #3d5770;
    color: white;
    border: none;
    padding: 1rem 2.5rem; /* Larger padding for better appearance */
    border-radius: 6px; /* Consistent border radius */
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1rem; /* Consistent font size */
    font-weight: bold;
    z-index: 0;
}

/* Hover Effect for Expired Button */
.filter-button-expired-button:hover {
    background-color: #486785;
    transform: scale(1.05);
}

/* Text and Icon Styles */
.button-text,
.button-icon {
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Initial State */
.button-text {
    opacity: 1;
    z-index: 1; /* Ensure text is above the icon */
}

/* Hover State */
.filter-button-expired-button:hover .button-text {
    opacity: 0;
    transform: scale(0.8);
}

.filter-button-expired-button:hover .button-icon {
    opacity: 1;
    transform: scale(1);
}

/* Ensure button text and icon are centered */
.filter-button,
.filter-button-expired-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Icon Styling */
.button-icon {
    opacity: 0;
    font-size: 1.5rem; /* Larger icon for better visibility */
    transform: scale(1.2);
}

.filter-button.active {
    background-color: #398bde; /* Darker color for active button */
    color: #ffffff;
}

.edit-button{
    margin: 0 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.edit-button:hover .fa-pencil-alt {
    transform: scale(1.2); 
}

/* #item-expiration{
    font-size: 20rem;
} */

@media (max-width: 600px) {
    .header-item, .header-quantity{
        width: 12vw;
        font-size: .9rem;
    }
}
