/* LoginPage.css */
.login-container {
    position: relative;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #f44336;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .close-modal:hover {
    color: #d32f2f;
    transform: scale(1.1);
  }
  
  .login-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-group {
    margin:1rem

  }
  
  .form-input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #submitButton{
    width: 100%;
    display: flex;
    justify-content: center;

  }
  .submit-button {
    background-color: #4caf50;
    color: white;
    width: 8rem;
    margin: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  